/* * {
  padding: 0;
  width: 0;
  box-sizing: border-box;
} */

div {
  height: 100vh;
  width: 100%;
  background-color: red;
  padding: 50px 20px;
  color: white;
  background-image: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?cs=srgb&dl=pexels-mikebirdy-120049.jpg&fm=jpg");
  /* opacity: 0; */
  /* background-repeat:repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-position: left top; */
  /* background-position:center; */
  /* back */

  /* background: #020024;
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(36, 121, 9, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  ); */
}

/* 901 - onward */
@media (min-width: 901px) {
  div {
    background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(36, 121, 9, 1) 48%,
      rgba(0, 212, 255, 1) 100%
    ) !important;
  }
}
/* 601 - 900 */
@media (max-width: 601px) and (min-wdith: 900px) {
  div {
    background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(36, 121, 9, 1) 48%,
      rgba(0, 212, 255, 1) 100%
    ) !important;
  }
}
/* <600px */
@media (max-width: 600px) {
  div {
    background: linear-gradient(
      360deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(36, 121, 9, 1) 48%,
      rgba(0, 212, 255, 1) 100%
    ) !important;
  }
}
