.div {
  background-color: white;
  /* height: 309px; */
  width: 50%;
  /* border-width: 20px; */
  /* border-width: 0;
  border-color: red;
  border-style: double;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-color: black;
  border-right-color: yellow;
  border-right-style: dashed;
  border-left-style: double;
  border-top-style: dotted;
  border-bottom-style: groove; */
  border: 2px solid black;
  /* padding: 12px;
  padding-top: 20px; */
  /* padding: 12px 20px 12px 20px; */
  /* padding: T R B L */
  /* padding: 12px 30px; */
  /* padding: TB LR */
  /* padding: 12px 40px 30px; */
  /* padding: T RL B */
  /* border-left: 20px dashed yellow;
  border-right: 20px dashed red; */
  background-color: red;
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  padding: 24px;
  margin: 45px 10px 20px;
  /* center */
  /* margin: 0px auto; */
}
p {
  /* background-color: aqua; */
  /* width: 280px; */
  background-color: yellow;
  padding: 23px;
}
/* span {
  background-color: purple;
} */
button {
  padding: 60px 120px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: 3px solid purple;
  /* border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 10px; */
}
/* td.description {
  min-width: 200px;
  max-width: 500px;
  height: 909px;
}
tr{
height: 90px;
} */
ul {
  border: 40px solid blue;
  /* border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB92xD1Oxc9_trJKox-nhbffE6uxM-Vyz7lg&s")
    40 40 round; */
  margin-bottom: 23px;
  padding: 23px;
  border-radius: 43px;
  background-color: red;
  box-shadow: 0px 0px 100px red;
}
li {
  background-color: orange;
  /* margin: 23px; */
  padding: 27px;
  border-radius: 43px;

  display: inline-block;
  font-size: 28px;
}
li:hover {
  background-color: yellow;
}
.projects {
  /* display: none; */
  visibility: hidden;
}
p {
  display: inline-block;
}
span {
  display: block;
  background-color: purple;
}
