ul {
  /* list-style-type: lower-roman; */
  /* list-style: none; */
  /* list-style-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB92xD1Oxc9_trJKox-nhbffE6uxM-Vyz7lg&s"); */
  /* list-style-position: outside; */
  list-style: outside lower-alpha;
}
li {
  /* display: inline; */
}

/* tables */
table {
  width: 600px;
  empty-cells: hide;
  border-spacing: 20px;
}
th,
td {
  padding: 7px 10px 10px 10px;
  /* border-top: 1px solid #999; */
}
th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 17px;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: center;
}
tr.even {
  background-color: red;
}
tr:hover {
  background-color: #c3e6e5;
  box-shadow: 1px 2px 23px red;
}
/* .money {
  text-align: right;
} */

/* forms */
.textInput {
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
  font-size: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  border-bottom: 4px solid yellow;
}
.textInput:hover {
  box-shadow: 1px 2px 23px red;
  border: 4px solid red;
}
.textInput:focus {
  background-color: orange;
}

label {
  font-size: 26px;
  font-weight: bold;
}

.optionInput {
  height: 34px;
  width: 43px;
  accent-color: orange;
  outline: none;
  border: 3px solid yellow;
}
button {
  padding: 60px 120px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: 3px solid purple;
  cursor: pointer;
}
