h3 {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-size: 32px; */
}
body {
  font-family: sans-serif;
  text-align: justify;
}
p {
  /* font-family: "Courier New", Courier, monospace; */
  /* font-size: 200%; */
  /* font-size: 3em; */
  /* font-size: 1rem; 16px */
  /* font-weight: bold; */
  /* font-style: oblique; */
}
p {
  text-transform: uppercase;
}
p > span {
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  text-transform: lowercase;
}
a {
  /* text-decoration: none; */
  text-align: center;
  background-color: red;
}
h1,
.link {
  text-decoration: overline;
  background-color: red;
  color: orange;
  text-align: center;
  font-size: 14px;
  /* text-decoration: blink; */
}
a {
  /* background-color: blue; */
}
p {
  vertical-align: middle;
}
.main-para {
  text-indent: 102px;
  background-color: red;
  text-shadow: 20px 2px 10px gray;
  /* line-height: 2.4em;
  word-spacing: 20px;
  letter-spacing: 20px; */
  /* text-align: justify ; */
}
/* .main-para::first-letter {
  font-size: 90px;
  color: orange;
  background-color: purple;
} */

.main-para::first-line {
  font-size: 23px;
  color: orange;
}

a:link {
  color: aqua;
}

.main-para:hover {
  background-color: aqua;
}

button:hover {
  background-color: purple;
  font-size: 30px;
}
img:hover {
  height: 900px;
  width: 900px;
}

/* hover */
/* input:hover {
  color: red;
  font-size: 23px;
} */

/* active */
input:focus {
  background-color: purple;
}
input:active {
  background-color: aqua;
}
button:active {
  color: green;
  background-color: white;
}

p[class] {
  background-color: green;
}
input[name="email"] {
  background-color: orange;
}
