<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/layout.css" />
  </head>
  <body>
    <h1>Ways of layout (display)</h1>
    <ul>
      <li class="active">Float</li>
      <li>Flex</li>
      <li>Grid</li>
    </ul>
    <h1>The Evolution of the Bicycle</h1>
    <div class="mainDiv">
      <h3>heading 1</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nihil
        accusantium dolorem mollitia atque quas, architecto, perspiciatis
        voluptatibus asperiores fugiat sint nemo esse voluptas in. Reprehenderit
        facere excepturi provident sunt.
      </p>
    </div>
    <div class="mainDiv">
      <h3>heading 2</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nihil
        accusantium dolorem mollitia atque quas, architecto, perspiciatis
        voluptatibus asperiores fugiat sint nemo esse voluptas in. Reprehenderit
        facere excepturi provident sunt.
      </p>
    </div>
    <div class="mainDiv">
      <h3>heading 3</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa nihil
        accusantium dolorem mollitia atque quas, architecto, perspiciatis
        voluptatibus asperiores fugiat sint nemo esse voluptas in. Reprehenderit
        facere excepturi provident sunt.
      </p>
    </div>
    <blockquote class="clear">
      "Life is like riding a bicycle. To keep your balance you must keep
      moving." - Albert Einstein
    </blockquote>
    <p>
      In 1817 Baron von Drais invented a walking machine that would help him get
      around the royal gardens faster: two same-size in-line wheels, the front
      one steerable, mounted in a frame ...
    </p>
    <p>
      In 1817 Baron von Drais invented a walking machine that would help him get
      around the royal gardens faster: two same-size in-line wheels, the front
      one steerable, mounted in a frame ...
    </p>
    <h1>hello</h1>
  </body>
</html>
